<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>
    <title>Administration page</title>
</head>
<body>

<header class="header">

    <nav class="header__navigation navigation">

        <ul class="navigation__list">
            <li class="navigation__item">
                <a class="navigation__link navigation__link_active">Administration page</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" th:href="@{/admin/users}">Users</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" th:href="@{/admin/users-balances}">All balances</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" th:href="@{/admin/users-transactions}">All transactions</a>
            </li>

                <a class="navigation__link" href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>

                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </li>

        </ul>

        <p class="header__hashtag">#CurrencyExchanger</p>

    </nav>
</header>

</body>
</html>