<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>All users balances</title>


</head>
<body>

<div class="container">

    <h3>Balances</h3>
    <hr>

    <label for="txtSearch">Input</label><input id="txtSearch" type="text" name="username"/>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Full user name</th>
            <th>Balance</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="tempBalance : ${balances}">

            <td th:text="${tempBalance.user.firstName + ' ' + tempBalance.user.lastName}"/>
            <td th:text="${tempBalance.sumOnTheBalance + ' ' tempBalance.currencyCode}"/>

        </tr>
        </tbody>
    </table>

</div>

<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>-->

<!-- <script th:inline="javascript">
    /*<![CDATA[*/
    var equations = /*[[${equations}]]*/;
    /*]]>*/

    $('#txtSearch').on('keyup', function(){
        var value = $(this).val();
        console.log('Value = ' + value);
    });
</script> -->

</body>
</html>