<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link th:href="@{/fonts/icomoon/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet"/>

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Style -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <title>Users</title>
</head>

<body>

<div class="content">

<header class="header">

    <nav class="header__navigation navigation">

        <ul class="navigation__list">
            <li class="navigation__item">
                <a class="navigation__link" th:href="@{/admin/administration-page}">Administration page</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link navigation__link_active" th:href="@{/admin/users}">Users</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" th:href="@{/admin/usersBalances}">All balances</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" th:href="@{/admin/users-transactions}">All transactions</a>
            </li>

            <a class="navigation__link" href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>

            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form>
            </li>

        </ul>

        <p class="header__hashtag">#CurrencyExchanger</p>

    </nav>
</header>

<div class="container">

    <h3 class="mb-5">Registered users</h3>

<!--    <label for="txtSearch">Input</label><input id="txtSearch" type="text" name="nameOfCreator"/>-->

    <div class="table-responsive">

    <table class="table table-striped custom-table">
        <thead>
        <tr>

            <th scope="col">Full name</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempUser : ${users}" scope="row">

            <td th:text="${tempUser.firstName + ' ' + tempUser.lastName}"></td>
            <td>
                <a th:href="@{/show_balances/{id}(id=${tempUser.id})}" class="more">Balances</a>
            </td>
            <td>
                <a th:href="@{/show_transactions/{id}(id=${tempUser.id})}" class="more">Transactions</a>
            </td>

        </tr>
        </tbody>
    </table>

    </div>

</div>

</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>