<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>

    <title>All users balances</title>


</head>
<body>

<header class="header">

    <nav class="header__navigation navigation">

        <ul class="navigation__list">
            <li class="navigation__item">
                <a class="navigation__link">Administration page</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" th:href="@{/admin/users}">Users</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link navigation__link_active" th:href="@{/admin/users-balances}">All balances</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" th:href="@{/admin/users-transactions}">All transactions</a>
            </li>

            <a class="navigation__link" href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>

            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Sign Out"/>
            </form>
            </li>

        </ul>

        <p class="header__hashtag">#CurrencyExchanger</p>

    </nav>
</header>

<div class="container">

    <h3>Balances</h3>
    <hr>

    <label for="txtSearch">Input</label><input id="txtSearch" type="text" name="username"/>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Full user name</th>
            <th>Balance</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="tempBalance : ${balances}">

            <td th:text="${tempBalance.user.firstName + ' ' + tempBalance.user.lastName}"/>
            <td th:text="${tempBalance.sumOnTheBalance + ' ' tempBalance.currencyCode}"/>

        </tr>
        </tbody>
    </table>

</div>

<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>-->

<!-- <script th:inline="javascript">
    /*<![CDATA[*/
    var equations = /*[[${equations}]]*/;
    /*]]>*/

    $('#txtSearch').on('keyup', function(){
        var value = $(this).val();
        console.log('Value = ' + value);
    });
</script> -->

</body>
</html>