<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Currency Converter</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>

</head>

<body>

<header class="header">

    <nav class="header__navigation navigation">

        <ul class="navigation__list">
            <li class="navigation__item">
                <a class="navigation__link navigation__link_active">Home</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" th:href="@{/showMyLoginPage}">Sign in</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" th:href="@{/register/showRegistrationForm}">Sign up</a>
            </li>
        </ul>

        <p class="header__hashtag">#CurrencyExchanger</p>
    </nav>
</header>

</body>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.steps.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

</html>
