<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet"/>

    <link th:href="@{/fonts/icomoon/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet"/>

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/nunito-font.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css}" rel="stylesheet" type="text/css"/>

    <!-- Style -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Currency converter</title>
</head>
<body>

<div class="main-content">

<header class="header">

    <nav class="header__navigation navigation">

        <ul class="navigation__list">
            <li class="navigation__item">
                <a class="navigation__link navigation__link_active">Currency converter</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" th:href="@{/exchanger/transactions}">My transactions</a>
            </li>
            <li class="navigation__item">

                <a class="navigation__link" href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>

                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </li>

        </ul>

        <p class="header__hashtag">#CurrencyExchanger</p>

        <p th:if="${session.user}" >
                    <p th:text="${session.user.firstName} + ' ' + ${session.user.lastName}"></p>
        </p>

    </nav>
</header>

<!--Main-->

<div class="container">

    <div class="table-responsive">

<!--        <p>-->
<!--            User: <span sec:authentication="principal.username"></span>-->
<!--            <br><br>-->
<!--            Role(s): <span sec:authentication="principal.authorities"></span>-->

<!--            &lt;!&ndash; display first name, last name and email &ndash;&gt;-->
<!--        <div th:if="${session.user}" >-->
<!--            <p th:text="'First name: ' + ${session.user.firstName} + ', Last name: ' + ${session.user.lastName} + ', Email: ' + ${session.user.email}"></p>-->
<!--        </div>-->

<!--        </p>-->

<!--        <h3 class="mb-5">MY BALANCES</h3>-->
<!--        <hr>-->

        <table class="table table-striped custom-table">
            <thead>
            <tr>
                <th scope="col">MY BALANCES</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="tempBalance : ${balances}"  scope="row">

                <td th:text="${tempBalance.sumOnTheBalance + ' ' + tempBalance.currencyCode}"/>

            </tr>
            </tbody>
        </table>

    </div>

    <div class="page-content">
        <div class="wizard-v5-content">
            <div class="wizard-form">
                <form class="form-register" id="form-register" th:action="@{/exchanger/processFormForTransaction}"
                      th:object="${webTransaction}" method="POST">
                    <div id="form-total">
                        <h2>
                            <span class="step-icon"><i class="zmdi zmdi-check"></i></span>
                            <span class="step-text">Convert</span>
                        </h2>
                        <section>
                            <div class="inner">
                                <div class="form-row form-row-date">
                                    <div class="form-holder form-holder-2">

<!--                                        <p th:text="${session.user.userName}"></p>-->


<!--                                        // ToDo-->
<!--                                        <input type="hidden" th:value="${userName}" th:attr="userName=${session.user.userName}" id="userName" name="userName">-->

<!--                                        <input type="text" th:attr="value = ${session.user.userName}" th:field="*{__${userName}__}" id="userName" name="userName">-->

<!--                                        <input type="text" th:field="*{__${userName('session.user.userName')}__}" id="userName" name="userName">-->

<!--                                        <input type="hidden" th:attr="value=${session.user.userName}" th:field="*{userName}" id="userName" name="userName">-->

<!--                                        <input type="hidden" th:field="*{userName}">-->
                                        <label for="sell_sum" class="special-label">Sell</label>
                                        <input type="number" placeholder="ex: 100" class="form-control" id="sell_sum" name="sell_sum">


                                        <select th:field="*{sellCurrencyCode}" id="sell_currency_code" class="form-control">
                                            <option value="">Select currency</option>
                                            <option th:each="currency : ${currenciesAvailableToSell}" th:value="${currency}"
                                                    th:text="${currency}"></option>
                                        </select>

                                    </div>

                                    <!--                                <select th:field="*{sellCurrencyCode}" id="sellCurrencyCode" class="form-control">-->
                                    <!--                                    <option value="">Select currency</option>-->
                                    <!--                                    <option th:each="currency : ${currencyCode}" th:value="${currency}"-->
                                    <!--                                            th:text="${currency}"></option>-->
                                    <!--                                </select>-->
                                </div>



                                <div class="form-row form-row-date">
                                    <div class="form-holder form-holder-2">
                                        <label for="receive_sum" class="special-label">Receive</label>
                                        <input type="number" placeholder="ex: 100" class="form-control" id="receive_sum" name="receive_sum">

                                        <br/>

                                        <select th:field="*{receiveCurrencyCode}" id="receive_currency_code" class="form-control">
                                            <option value="">Select currency</option>
                                            <option th:each="currency : ${currencyCode}" th:value="${currency}"
                                                    th:text="${currency}"></option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </section>

                        <h2>
                            <span class="step-icon"><i class="zmdi zmdi-check"></i></span>
                            <span class="step-text">Confirm Details</span>
                        </h2>
                        <section>
                            <div class="inner">
                                <h3>Confirm Details</h3>
                                <div class="form-row table-responsive">
                                    <table class="table table table-striped custom-table">
                                        <tbody>
                                        <tr class="space-row">
                                            <th>Full Name:</th>
                                            <td id="userName-val"></td>
                                        </tr>
                                        <tr class="space-row">
                                            <th>Sell sum:</th>
                                            <td id="sell_sum-val"></td>
                                        </tr>
                                        <tr class="space-row">
                                            <th>Sell currency code:</th>
                                            <td id="sell_currency_code-val"></td>
                                        </tr>
                                        <tr class="space-row">
                                            <th>Receive sum:</th>
                                            <td id="receive_sum-val"></td>
                                        </tr>
                                        <tr class="space-row">
                                            <th>Receive currency code:</th>
                                            <td id="receive_currency_code-val"></td>
                                        </tr>
<!--                                        <tr class="space-row">-->
<!--                                            <th>Calculated commission fee:</th>-->
<!--                                            <td id=""></td>-->
<!--                                        </tr>-->
                                        </tbody>
                                    </table>

<!--                                    <button type="submit" class="btn btn-info col-2">Save</button>-->
                                </div>
                            </div>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--Main content-->
<!--    <div class="main_content">-->

<!--        <form action="#" th:action="@{/exchanger/processFormForTransaction}"-->
<!--              th:object="${webTransaction}" method="POST">-->

<!--&lt;!&ndash;            <table class="table-responsive">&ndash;&gt;-->
<!--&lt;!&ndash;                <thead class="table-dark">&ndash;&gt;-->
<!--&lt;!&ndash;                <tr>&ndash;&gt;-->

<!--&lt;!&ndash;                    <img>&ndash;&gt;-->

<!--&lt;!&ndash;                    <td>Sell</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <select th:field="*{sellCurrencyCode}">&ndash;&gt;-->
<!--&lt;!&ndash;                            <option value="">Select currency</option>&ndash;&gt;-->
<!--&lt;!&ndash;                            <option th:each="currency : ${currencyCode}" th:value="${currency}"&ndash;&gt;-->
<!--&lt;!&ndash;                                    th:text="${currency}"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                        </select>&ndash;&gt;-->
<!--&lt;!&ndash;                    </td>&ndash;&gt;-->
<!--&lt;!&ndash;                </tr>&ndash;&gt;-->

<!--&lt;!&ndash;                <tr>&ndash;&gt;-->

<!--&lt;!&ndash;                    <img>&ndash;&gt;-->

<!--&lt;!&ndash;                    <td>Receive</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>&ndash;&gt;-->
<!--&lt;!&ndash;                        <select th:field="*{sellCurrencyCode}">&ndash;&gt;-->
<!--&lt;!&ndash;                            <option value="">Select currency</option>&ndash;&gt;-->
<!--&lt;!&ndash;                            <option th:each="currency : ${currencyCode}" th:value="${currency}"&ndash;&gt;-->
<!--&lt;!&ndash;                                    th:text="${currency}"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                        </select>&ndash;&gt;-->
<!--&lt;!&ndash;                    </td>&ndash;&gt;-->
<!--&lt;!&ndash;                </tr>&ndash;&gt;-->

<!--&lt;!&ndash;                </thead>&ndash;&gt;-->

<!--&lt;!&ndash;            </table>&ndash;&gt;-->

<!--            <button type="submit" class="btn btn-info col-2">Save</button>-->
<!--        </form>-->
<!--        &lt;!&ndash; Modal window confirmation &ndash;&gt;-->

<!--        <a class="navigation__link example">Submit</a>-->
<!--        <div class="modal">-->
<!--            <div class="modal-content">-->
<!--                <p class="answerWindow">Confirm Your Transaction<br/></p>-->
<!--                <nav>-->
<!--                    <ul class="navigation__list">-->
<!--                        <li class="navigation__item">-->
<!--                            <a class="navigation__link" href="">Yes</a>-->
<!--                        </li>-->
<!--                        <li class="navigation__item">-->
<!--                            <a class="navigation__link" href="">Not</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Done modal window &ndash;&gt;-->

<!--        <a class="navigation__link example">Confirm</a>-->
<!--        <div class="modal">-->
<!--            <div class="modal-content">-->

<!--                <p class="confirmationTitle">Currency converted</p>-->
<!--                <p class="answerWindow" th:utext="${'You have converted ' + webTransaction.sellSum + ' ' +-->
<!--        webTransaction.sellCurrencyCode + ' to ' + webTransaction.receiveSum + ' ' +-->
<!--        webTransaction.receiveCurrencyCode + '. Commission fee: ' + webTransaction.calculatedCommissionFee + ' ' +-->
<!--        webTransaction.sellCurrencyCode + '.'}"></p>-->
<!--                <nav>-->
<!--                    <ul class="navigation__list">-->
<!--                        <li class="navigation__item">-->
<!--                            <a class="navigation__link" href="">Done</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </nav>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash;Main balance&ndash;&gt;-->
<!--    <aside class="sidebar">-->
<!--        &lt;!&ndash; Main balance &ndash;&gt;-->
<!--    </aside>-->

</div>

</div>

</body>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/jquery.steps.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

</html>