<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link th:href="@{/fonts/icomoon/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet"/>

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Style -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <title>My transactions</title>
</head>
<body>

<header class="header">

    <nav class="header__navigation navigation">

        <ul class="navigation__list">
            <li class="navigation__item">
                <a class="navigation__link">Currency converter</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" navigation__link_active th:href="@{/exchanger/transactions}">My transactions</a>
            </li>
            <li class="navigation__item">

                <a class="navigation__link" href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>

                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </li>

        </ul>

        <p class="header__hashtag">#CurrencyExchanger</p>

    </nav>
</header>

<div class="container">

    <h3>Transactions</h3>
    <hr>

    <a th:href="@{exchanger/showFormForTransaction}"
       class="btn btn-primary btn-sm mb-3">

        New Transaction
    </a>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Sold</th>
            <th></th>
            <th>Received</th>
            <th></th>
            <th>Calculated commission fee</th>
            <th>Date</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempTransaction : ${transactions}">

            <td th:text="${tempTransaction.sell.amountOfMoney + ' ' tempTransaction.sell.currencyCode}"/>
            <td><img th:src="@{images/arrow-up.png}"></td>
            <td th:text="${tempTransaction.receive.amountOfMoney + ' ' tempTransaction.receive.currencyCode}"/>
            <td><img th:src="@{images/arrow-down.png}"></td>
            <td th:text="${tempTransaction.calculatedCommissionFee}"/>
            <td th:text="${tempTransaction.creationTime}"/>

        </tr>
        </tbody>
    </table>

</div>


</body>
</html>