<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/styles/styles.css}" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link th:href="@{/fonts/icomoon/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/owl.carousel.min.css}" rel="stylesheet"/>

    <!-- Bootstrap CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Style -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Currency converter</title>
</head>
<body>

<div class="main-content">

<header class="header">

    <nav class="header__navigation navigation">

        <ul class="navigation__list">
            <li class="navigation__item">
                <a class="navigation__link navigation__link_active">Currency converter</a>
            </li>
            <li class="navigation__item">
                <a class="navigation__link" th:href="@{/exchanger/transactions}">My transactions</a>
            </li>
            <li class="navigation__item">

                <a class="navigation__link" href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>

                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </li>

        </ul>

        <p class="header__hashtag">#CurrencyExchanger</p>

    </nav>
</header>

<!--Main-->

<div class="container">

    <div class="table-responsive">

<!--        <p>-->
<!--            User: <span sec:authentication="principal.username"></span>-->
<!--            <br><br>-->
<!--            Role(s): <span sec:authentication="principal.authorities"></span>-->

<!--            &lt;!&ndash; display first name, last name and email &ndash;&gt;-->
<!--        <div th:if="${session.user}" >-->
<!--            <p th:text="'First name: ' + ${session.user.firstName} + ', Last name: ' + ${session.user.lastName} + ', Email: ' + ${session.user.email}"></p>-->
<!--        </div>-->

<!--        </p>-->

<!--        <h3 class="mb-5">MY BALANCES</h3>-->
<!--        <hr>-->

        <table class="table table-striped custom-table">
            <thead>
            <tr>
                <th scope="col">MY BALANCES</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="tempBalance : ${balances}"  scope="row">

                <td th:text="${tempBalance.sumOnTheBalance + ' ' + tempBalance.currencyCode}"/>

            </tr>
            </tbody>
        </table>

    </div>

    <!--Main content-->
    <div class="main_content">

        <form action="#" th:action="@{/exchanger/processFormForTransaction}"
              th:object="${webTransaction}" method="POST">

            <table class="table-responsive">
                <thead class="table-dark">
                <tr>

                    <img>

                    <td>Sell</td>
                    <td>
                        <select th:field="*{sellCurrencyCode}">
                            <option value="">Select currency</option>
                            <option th:each="currency : ${currencyCode}" th:value="${currency}"
                                    th:text="${currency}"></option>
                        </select>
                    </td>
                </tr>

                <tr>

                    <img>

                    <td>Receive</td>
                    <td>
                        <select th:field="*{sellCurrencyCode}">
                            <option value="">Select currency</option>
                            <option th:each="currency : ${currencyCode}" th:value="${currency}"
                                    th:text="${currency}"></option>
                        </select>
                    </td>
                </tr>

                </thead>

            </table>

            <button type="submit" class="btn btn-info col-2">Save</button>
        </form>
        <!-- Modal window confirmation -->

        <a class="navigation__link example">Submit</a>
        <div class="modal">
            <div class="modal-content">
                <p class="answerWindow">Confirm Your Transaction<br/></p>
                <nav>
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a class="navigation__link" href="">Yes</a>
                        </li>
                        <li class="navigation__item">
                            <a class="navigation__link" href="">Not</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- Done modal window -->

        <a class="navigation__link example">Confirm</a>
        <div class="modal">
            <div class="modal-content">

                <p class="confirmationTitle">Currency converted</p>
                <p class="answerWindow" th:utext="${'You have converted ' + webTransaction.sellSum + ' ' +
        webTransaction.sellCurrencyCode + ' to ' + webTransaction.receiveSum + ' ' +
        webTransaction.receiveCurrencyCode + '. Commission fee: ' + webTransaction.calculatedCommissionFee + ' ' +
        webTransaction.sellCurrencyCode + '.'}"></p>
                <nav>
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a class="navigation__link" href="">Done</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--Main balance-->
    <aside class="sidebar">
        <!-- Main balance -->
    </aside>

</div>

</div>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>